@import "../../../general.scss";

.container {
  font-family: $inter;
  border-color: transparent;
  border-radius: 8px;
  gap: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &--without-text {
    gap: 0;
  }
}

.fit {
  width: fit-content;
}
.max {
  width: 100%;
}

// primary-style
// **__solid__**
.primary_solid {
  border: none;
  color: white;
  background-color: $primary;
}

.primary_solid:hover {
  background-color: $hover;
}

.primary_solid:active {
  background-color: $primary-dark;
}

.primary_solid-disable {
  background-color: $primary-light;
  cursor: not-allowed;
}

.primary_solid-disable:hover {
  background-color: $primary-light;
}

// **__outline__**
.primary_outline {
  color: $primary;
  border: 1px solid $primary;
  background-color: transparent;
}

.primary_outline:hover {
  color: $hover;
  border: 1px solid $hover;
}

.primary_outline:active {
  color: $primary-dark;
  border: 1px solid $primary-dark;
}

.primary_outline-disable {
  color: $primary-light;
  border: 1px solid $primary-light;
  background-color: transparent;
  cursor: not-allowed;
}

.primary_outline-disable:hover {
  color: $primary-light;
  border: 1px solid $primary-light;
}

// **__text__**
.primary_text {
  color: $primary;
  background-color: transparent;
}

.primary_text:hover {
  color: $hover;
  background-color: $primary-background;
}

.primary_text:active {
  color: $primary-dark;
  background-color: $primary-light;
}

.primary_text-disable {
  color: $primary-light;
  background-color: transparent;
  cursor: not-allowed;
}

.primary_text-disable:hover {
  color: $primary-light;
  background-color: transparent;
}

// **__text-link__**
.primary_text-link {
  color: $primary;
  background-color: transparent;
  border-bottom: 1px solid $primary;
  border-radius: 0px !important;
  padding: 0 !important;
}

.primary_text-link:hover {
  color: $hover;
  border-bottom: 1px solid $hover;
}

.primary_text-link:active {
  color: $primary-dark;
  border-bottom: 1px solid $primary-dark;
}

.primary_text-link-disable {
  color: $primary-light;
  cursor: not-allowed;
  border-bottom: 1px solid $primary-light;
}

.primary_text-link-disable:hover {
  color: $primary-light;
  border-bottom: 1px solid $primary-light;
}

// secondary-style
// **__solid__**
.secondary_solid {
  color: white;
  background-color: $secondary;
}

.secondary_solid:hover {
  background-color: $secondary-hover;
  color: white;
}

.secondary_solid:active {
  background-color: $secondary-dark;
  color: white;
}

.secondary_solid-disable {
  background-color: $secondary-light;
  cursor: not-allowed;
}

.secondary_solid-disable:hover {
  background-color: $secondary-light;
}

// **__outline__**
.secondary_outline {
  color: $secondary;
  border: 1px solid $secondary;
  background-color: transparent;
}

.secondary_outline:hover {
  color: $secondary-hover;
  border: 1px solid $secondary-hover;
}

.secondary_outline:active {
  color: $secondary-dark;
  border: 1px solid $secondary-dark;
}

.secondary_outline-disable {
  color: $secondary-light;
  border: 1px solid $secondary-light;
  background-color: transparent;
  cursor: not-allowed;
}

.secondary_outline-disable:hover {
  color: $secondary-light;
  border: 1px solid $secondary-light;
}

// **__text__**
.secondary_text {
  color: $secondary;
  background-color: transparent;
}

.secondary_text:hover {
  color: $secondary-hover;
  background-color: $secondary-background;
}

.secondary_text:active {
  color: $secondary-dark;
  background-color: $secondary-light;
  outline: none;
}

.secondary_text-disable {
  color: $secondary-light;
  cursor: not-allowed;
}

.secondary_text-disable:hover {
  background-color: transparent;
  color: $secondary-light;
}

// **__text-link__**
.secondary_text-link {
  color: $secondary;
  background-color: transparent;
  border-bottom: 1px solid $secondary;
  border-radius: 0px !important;
  padding: 0 !important;
}

.secondary_text-link:hover {
  color: $secondary-hover;
  border-bottom: 1px solid $secondary-hover;
}

.secondary_text-link:active {
  color: $secondary-dark;
  border-bottom: 1px solid $secondary-dark;
}

.secondary_text-link-disable {
  color: $secondary-light;
  cursor: not-allowed;
  border-bottom: 1px solid $secondary-light;
}

.secondary_text-link-disable:hover {
  color: $secondary-light;
  border-bottom: 1px solid $secondary-light;
}

// neutral-style
// **__solid__**
.neutral_solid {
  color: white;
  background-color: $base-black;
}

.neutral_solid:hover {
  background-color: $grey-label;
  color: white;
}

.neutral_solid:active {
  background-color: $grey-placeholder;
  color: white;
}

.neutral_solid-disable {
  background-color: $grayscale-border;
  cursor: not-allowed;
}

.neutral_solid-disable:hover {
  background-color: $grayscale-border;
}

// **__outline__**
.neutral_outline {
  color: $base-black;
  border: 1px solid $grayscale-border;
  background-color: transparent;
}

.neutral_outline:hover {
  color: $grey-label;
  border: 1px solid $grey-label;
}

.neutral_outline:active {
  color: $grey-placeholder;
  border: 1px solid $grey-placeholder;
}

.neutral_outline-disable {
  color: $grayscale-border;
  border: 1px solid $grayscale-border;
  background-color: transparent;
  cursor: not-allowed;
}

.neutral_outline-disable:hover {
  color: $grayscale-border;
  border: 1px solid $grayscale-border;
}

// **__text__**
.neutral_text {
  color: $base-black;
  background-color: transparent;
}

.neutral_text:hover {
  color: $grey-label;
  background-color: $bg-input;
}

.neutral_text:active {
  color: $grey-placeholder;
  background-color: $grayscale-border;
  outline: none;
}

.neutral_text-disable {
  color: $grayscale-border;
  cursor: not-allowed;
}

.neutral_text-disable:hover {
  background-color: transparent;
  color: $grayscale-border;
}

// **__text-link__**
.neutral_text-link {
  color: $base-black;
  background-color: transparent;
  border-bottom: 1px solid $base-black;
  border-radius: 0px !important;
  padding: 0 !important;
}

.neutral_text-link:hover {
  color: $grey-label;
  border-bottom: 1px solid $grey-label;
}

.neutral_text-link:active {
  color: $grey-placeholder;
  border-bottom: 1px solid $grey-placeholder;
}

.neutral_text-link-disable {
  color: $grayscale-border;
  cursor: not-allowed;
  border-bottom: 1px solid $grayscale-border;
}

.neutral_text-link-disable:hover {
  color: $grayscale-border;
  border-bottom: 1px solid $grayscale-border;
}

// error-style
// **__solid__**
.error_solid {
  color: white;
  background-color: $error;
  border: none;
}

.error_solid:hover {
  background-color: $error-dark;
  color: white;
}

.error_solid:active {
  background-color: $error-dark;
  color: white;
}

.error_solid-disable {
  background-color: $error-light;
  cursor: not-allowed;
}

.error_solid-disable:hover {
  background-color: $error-light;
}

// **__outline__**
.error_outline {
  color: $error;
  border: 1px solid $error;
  background-color: transparent;
}

.error_outline:hover {
  color: $error-dark;
  border: 1px solid $error-dark;
}

.error_outline:active {
  color: $error-dark;
  border: 1px solid $error-dark;
}

.error_outline-disable {
  color: $error-light;
  border: 1px solid $error-light;
  background-color: transparent;
  cursor: not-allowed;
}

.error_outline-disable:hover {
  color: $error-light;
  border: 1px solid $error-light;
}

// **__text__**
.error_text {
  color: $error;
  background-color: transparent;
}

.error_text:hover {
  color: $error-dark;
  background-color: $error-background;
}

.error_text:active {
  color: $error-dark;
  background-color: $error-light;
  outline: none;
}

.error_text-disable {
  color: $error-light;
  cursor: not-allowed;
}

.error_text-disable:hover {
  background-color: transparent;
  color: $error-light;
}

// **__text-link__**
.error_text-link {
  color: $error;
  background-color: transparent;
  border-bottom: 1px solid $error;
  border-radius: 0px !important;
  padding: 0 !important;
}

.error_text-link:hover {
  color: $error-dark;
  border-bottom: 1px solid $error-dark;
}

.error_text-link:active {
  color: $error-dark;
  border-bottom: 1px solid $error-dark;
}

.error_text-link-disable {
  color: $error-light;
  cursor: not-allowed;
  border-bottom: 1px solid $error-light;
}

.error_text-link-disable:hover {
  color: $error-light;
  border-bottom: 1px solid $error-light;
}

// sizes
.xs {
  height: fit-content;
  font-size: 12px;
  line-height: 18px;
  padding: 4px 12px;
}

.sm {
  height: fit-content;
  font-size: 14px;
  line-height: 22px;
  padding: 6px 16px;
  gap: 8px;
}

.md {
  height: fit-content;
  font-size: 14px;
  line-height: 22px;
  padding: 10px 16px;
  border-radius: 12px;
}

.lg {
  height: fit-content;
  font-size: 16px;
  line-height: 26px;
  padding: 12px 24px;
  border-radius: 12px;
}

// variant-text-style
.text-link-xs {
  font-weight: 400;
}

.text-link-sm {
  font-weight: 400;
}

.text-link-md {
  font-weight: 500;
}

.text-link-lg {
  font-weight: 500;
}
