@import '../../../general.scss';

.stepper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: fit;
  font-family: 'inter';

  &__text {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;

    &--left {
      color: $grey-label;
    }

    &--right {
      color: $base-black;
    }
  }

  &__blocks {
    height: 6px;
    display: flex;
    gap: 8px;
  }

  &__block {
    border-radius: 400px;
    height: 6px;
    width: 100%;

    &--active {
      @extend .stepper__block;
      background-color: $primary;
    }

    &--inactive {
      @extend .stepper__block;
      background: $disable;
    }
  }
}
