@import "../../../general.scss";

.content__more--container {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.content__more--item {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
}

.content__more--item button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  background-color: transparent;
  border: none;
}

.content__more--item button:hover {
  background-color: $grayscale;
}

.content__more--container {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 8px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  z-index: 1;
}
