@import '../../../../general.scss';

// main__content
.main__content {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 48px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.input {
  &__wrapper {
    &--position {
      display: grid;
      grid-template-columns: 1fr 1fr auto auto;
      margin-bottom: 16px;
      gap: 12px;
      align-items: center;
    }

    &--search {
      display: grid;
      grid-template-columns: 1fr auto auto;
      gap: 12px;
      align-items: center;
    }
  }
}

.map {
  height: 500px;
  border-radius: 12px;

  &__container {
    width: 100%;
    overflow: hidden;
  }

  &__action {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
  }
}
