.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  // in the figma design, the default background color is white
  // background-color: #f5f5f5;
  .content {
    overflow: auto;
    // I can't using the full width of the bottom-border in the top-bar component
    // padding: 1rem 0;
    width: 100%;
  }
  background-color: white;
}
