@import "../../../general.scss";

.container {
  display: flex;
  flex-direction: column;
  font-family: "Inter";

  &-sm {
    gap: 2px;
  }

  &-md {
    gap: 4px;
  }

  &__title-sm {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: $grey-placeholder;
  }

  &__title-md {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: $grey-placeholder;
  }

  &__subTitle-sm {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $base-black;
  }

  &__subTitle-md {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $base-black;
  }
}
