@import "../layout.module.scss";

.settings__card {
  list-style-type: none;
  list-style: none;
}

.profile__card {
  display: flex;
  justify-content: space-between;

  &__avatar {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
