@import "../../../general.scss";

.container {
  padding: 0 24px;
}

// main__content
.main__content {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

// header--style
.content__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.settings {
  margin-top: 10px;
  display: flex;
  gap: 15px;

  &__link {
    width: fit-content;
    color: $grey-placeholder;
  }
  &__link:hover {
    color: $primary;
  }
}

.settings__main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  &__detail {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
  }
}
