@import "../../../general.scss";

.container {
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-top: 16px;
  line-height: 26px;
  max-width: 500px;
}

.subTitle {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-top: 4px;
  color: $grey-label;
  line-height: 22px;
  max-width: 500px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 24px;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 400px;
  width: 80px;
  height: 80px;
  padding: 24px;
  gap: 8px;
  background-color: $bg-input;
}
