@import "../../../general.scss";

.card__wrapper {
  font-family: $inter;
  border: 1px solid $grayscale-border;
  padding: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__header {
  display: flex;
  gap: 10px;
  align-items: center;
}
