@import "../../../general.scss";

.tabs {
  .list {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .trigger {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    border: 1px solid $primary;
    border-radius: 12px;
    cursor: pointer;
  }

  .active {
    background-color: $primary;
    color: white;
  }

  .disabled {
    background-color: white;
    color: $primary;
  }

  .content {
    padding: 10px 0px;
  }
}
