@import '../../general.scss';

.container {
  &__text {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &--title {
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;
      color: $base-black;
    }

    &--sub-title {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: $grey-label;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    margin-top: 16px;
    gap: 16px;
  }

  &__button {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 4rem;
  }
}

.error {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__text {
    color: $base-black;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
}
