@import "../../detail-family.module.scss";

.member__form {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__title {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__profile {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__info {
      display: flex;
      gap: 8px;
      align-items: center;
      &__image {
        border-radius: 9999px;
      }
    }
  }

  &__input {
    &__one {
      padding: 10px 0px;
      gap: 10px;
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    &__two {
      padding: 10px 0px;
      gap: 10px;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    &__three {
      padding: 10px 0px;
      gap: 10px;
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    &__four {
      padding: 10px 0px;
      gap: 10px;
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  &__action {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}
