@import '../../../general.scss';

.section {
  &--detail {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 54px;
  }
}

.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__action {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
  }
  &__more {
    &-container {
      position: absolute;
      top: 100%;
      right: 0;
      margin-top: 8px;
      padding: 16px;
      border-radius: 12px;
      box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
      background-color: #fff;
      z-index: 1;
      display: flex;
      flex-direction: column;
    }
    &-item {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      white-space: nowrap;
      background-color: transparent;
      border: none;
      outline: none;

      &:hover {
        background-color: #e8e8e8;
      }
    }
  }
}

.detail {
  &--top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 16px;
  }
  &--below {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__label {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: $grey-placeholder;
  }

  &__value {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: $base-black;
  }
}

.modal {
  &__body {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #626262;

    &--center {
      @extend .modal__body;
      justify-content: center;
      align-items: center;
    }

    &--form {
      @extend .modal__body;
      gap: 12px;
      margin-top: 20px;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    color: #222222;
    line-height: 28px;
  }

  &__subtitle {
    font-size: 14px;
    color: $grey-label;
    line-height: 22px;
  }

  &__action {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
    margin-top: 20px;

    button {
      width: 100%;
    }
  }
}

.form {
  font-family: 'Inter', sans-serif;

  &__header {
    @extend .form;
    color: $base-black;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
  }

  &__add-member {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__photo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--left {
      display: flex;
      align-items: center;
      gap: 12px;

      img {
        height: 64px;
        width: 64px;
        border-radius: 200px;
        object-fit: cover;
        object-position: left center;
      }

      div p:first-child {
        @extend .form;
        font-size: 16px;
        font-weight: 600;
        color: $base-black;
        margin-bottom: 4px;
      }

      div p:last-child {
        @extend .form;
        font-size: 14px;
        color: #626262;
        font-weight: 400;
        margin: 0;
      }
    }
  }

  &__submit {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
  }
}
