@import "../../../../general.scss";

// main__content
.main__content {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 48px;
}

.input {
  &-img {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__wrapper {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &-label {
      color: $base-black;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 4px;

      &-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        font-family: "Inter", sans-serif;
      }
    }

    &-alt {
      color: $grey-label;
      font-size: 14px;
      font-family: 400;
    }

    &--background {
      border-radius: 8px;
    }
  }
}

.content {
  border: 1px solid $grayscale-border;
  border-radius: 1rem;
  padding: 24px;

  &__title {
    font-size: 20px;
    color: $base-black;
    line-height: 28px;
    font-family: "Inter", sans-serif;

    &__wrapper {
      display: flex;
      gap: 12px;
      margin-bottom: 1rem;
      align-items: center;
    }
  }

  &__input {
    &-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
      margin-top: 16px;

      & > div {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }

  &__button {
    &-wrapper {
      display: flex;
      justify-content: flex-end;
      gap: 12px;
      margin-top: 24px;
    }
  }

  &--background {
    @extend .content;
    margin-top: 16px;
  }
}

.modal {
  &__title {
    color: $base-black;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 4px;
  }

  &__body {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: $grey-label;
    margin-bottom: 20px;
  }

  &__action {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;

    button {
      width: 100%;
    }
  }
}
