@import "../../../general.scss";
.select::-ms-expand {
  display: none;
}
.text__mute {
  color: $grey-placeholder;
}
.select {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;
  background-color: $bg-input;
  color: $base-black;
  font-size: 16px;
  border: 1px solid transparent;
  padding: 10px 12px;
  border-radius: 8px;
  font-family: $inter;
  display: block;
  background-image: url("/arrow-icon.svg");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  outline: none;

  &:hover {
    border: 1px solid $hover;
    transition: border 0.2s ease-in-out;
  }
  &:disabled {
    background-color: $disable;
    cursor: not-allowed;
    border: 1px solid $grayscale-border;
  }
  &:focus {
    border: 1px solid $primary;
    outline: 2px solid $primary-background;
    transition: border 0.2s ease-in-out;
  }
}

.select__item {
  color: $base-black;
  background-color: $bg-input;
}
