@import "../family.module.scss";

.content__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__action {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
  }
}

.header__dropdown {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 250px;
  }
  &__trigger {
    border: 1px solid $primary;
    padding: 8px 15px;
  }

  &__item {
    display: flex;
    padding: 8px;
    border-radius: 10px;
    gap: 8px;
    cursor: pointer;

    &:hover {
      background-color: $grayscale;
    }

    &__disabled {
      display: flex;
      padding: 8px;
      border-radius: 10px;
      gap: 8px;
      cursor: not-allowed;
      opacity: 60%;
    }
  }
}

.download__dialog,
.delete__dialog {
  &__icon {
    width: 64px;
    height: 64px;
    border: 1px solid $grayscale;
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 400px;
  }
  &__content {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__footer {
    display: flex;
    width: 100%;
    gap: 8px;
  }
}

.delete__dialog__content {
  align-items: center;
}
