@import "../../../general.scss";

.empty__state__wrapper {
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.empty__state__icon {
  display: block;
  border-radius: 9999px;
  background-color: $grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
}

.empty__state__title,
.empty__state__description {
  max-width: 500px;
  text-align: center;
}

.empty__state__action {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
