@import "../edit-family.module.scss";

.form__card__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile__image__card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .image__display {
    display: flex;
    gap: 10px;
    align-items: center;

    .img {
      border-radius: 9999px;
    }
  }
}
.input__wrapper {
  width: 100%;

  .one__input {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .two__input {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .three__input {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.form__footer {
  padding: 20px 0px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  .form__action {
    display: flex;
    gap: 10px;
  }
}
