@import "../../../general.scss";

.form__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form__label__error {
  color: red;
}

.form__description {
  font-size: 14px;
  font-family: $inter;
  opacity: 50%;
}

.form__message {
  font-size: 14px;
  font-weight: 500;
  color: red;
}
