@import "../../../general.scss";

.table__wrapper {
  position: relative;
  width: 100%;
  overflow: auto;
  font-family: $inter;
}

.table__container {
  width: 100%;
  caption-side: bottom;
  border-collapse: collapse;
}

.table__header {
  border-bottom: 1px solid $grayscale;
}

.table__body {
}

.table__footer {
  border-top: 1px solid $grayscale;
  font-weight: 500;
}

.table__row {
  font-weight: 500;
  font-size: 14px;
  border-bottom: 1px solid $grayscale-border;
}

.table__row:hover {
  background-color: $grayscale;
}

.table__head {
  padding: 20px 10px;
  height: 40px;
  text-align: left;
  vertical-align: middle;
  font-weight: 500;
  opacity: 50%;
}

.table__cell {
  padding: 15px 10px;
  vertical-align: middle;
}

.table__caption {
  margin-top: 16px;
  font-size: 14px;
  color: $grayscale;
}
