@import "../../../general.scss";

.textarea {
  font-family: $inter;
  padding: 10px 12px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: $bg-input;
  color: $base-black;
  font-size: 16px;
  &:hover {
    border: 1px solid $hover;
    transition: border 0.2s ease-in-out;
  }
  &:disabled {
    background-color: $disable;
    cursor: not-allowed;
    border: 1px solid $grayscale-border;
  }
  &:focus {
    border: 1px solid $primary;
    outline: 2px solid $primary-background;
    transition: border 0.2s ease-in-out;
  }
  &::placeholder {
    color: $grey-placeholder;
    font-family: $inter;
    font-size: 16px;
  }
}
