@import '../../../general.scss';

// main__content
.main__content {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 48px;
}

// header--style
.content {
  border: 1px solid $grayscale-border;
  border-radius: 1rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__info {
    @extend .content;

    margin-top: 24px;
    overflow: hidden;
    padding-bottom: 26px;

    &__img {
      width: 100%;
      height: 240px;
      border-radius: 16px 16px 0 0;
    }
  }

  &__profile {
    width: 100%;
    height: fit-content;
    margin-top: -64px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img {
      width: 104px;
      height: 104px;
      background-color: white;
      border-radius: 100px;
    }

    &__data {
      margin-top: 24px;
      text-align: center;
    }

    &__name {
      color: $base-black;
      font-size: 28px;
      font-family: 'Inter', sans-serif;
      font-weight: 600;
      line-height: 36px;
      margin-bottom: 4px;
      text-transform: capitalize;
    }

    &__address {
      color: $grey-label;
      font-size: 16px;
      font-family: 'Inter', sans-serif;
      text-transform: capitalize;
    }

    &__button-wrapper {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      gap: 8px;
    }
  }

  &__detail {
    @extend .content;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    width: 100%;
    font-family: 'Inter', sans-serif;

    &__title {
      color: $base-black;
      font-size: 20px;
      line-height: 28px;
      font-family: 'Inter', sans-serif;
      font-weight: 500;
    }

    &__subtitle {
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
      margin-bottom: 2px;
      color: $grey-placeholder;
    }

    &__body {
      color: $base-black;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      text-transform: capitalize;
    }

    &__wrapper {
      display: grid;
      gap: 16px;
      width: 100%;
    }

    &--village {
      @extend .content__detail__wrapper;
      grid-template-columns: repeat(5, 1fr);
    }

    &--regency {
      @extend .content__detail__wrapper;
      grid-template-columns: repeat(4, 1fr);
    }

    &--district,
    &--province {
      @extend .content__detail__wrapper;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

// search and filter
.content__search {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.content__search--input {
  width: 320px;
}

.conter__search--filter__button {
  width: fit-content;
  position: relative;
}

// table--style
.content__resident {
  margin-top: 24px;
}

.resident__table {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  font-family: 'Inter';
  border-collapse: collapse;
  color: #272e38;
}

.resident__table--container {
  overflow: auto;
}

.resident__table th,
.resident__table td {
  text-align: left;
  padding-left: 8px;
}

.resident__table th {
  color: $grey-placeholder;
}

.resident__table td {
  padding: 12px;
}

.resident__table tbody td {
  border-bottom: 1px solid $grayscale-border;
  white-space: nowrap;
}

.resident__table tbody tr:hover {
  background-color: $primary-background;
  transition: all 0.2s ease-in-out;
}

.resident__table tbody,
.resident__table thead th {
  padding: 16px 8px;
  white-space: nowrap;
}
.resident__table thead th {
  padding: 0 11px;
}

.resident__table tbody::before {
  content: '';
  display: block;
  height: 8px;
}

.resident__table--user__profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.resident__table--user__name {
  white-space: nowrap;
}

// pagination--style
.pagination__content {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

// administrative
.header {
  &__action {
    display: flex;
    gap: 8px;
    position: relative;
  }
}

// filter
.content__more--container {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.content__more--item {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
}

.content__more--item button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  background-color: transparent;
  border: none;
  outline: none;
}

.content__more--item button:hover {
  background-color: $grayscale-border;
}

.content__more--container {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 8px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  z-index: 1;
}

// filter

.content__filter--data {
  display: flex;
  gap: 12px;
  margin: 16px 0;
}

.content__filter--data--main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 160px;
}

.content__filter--data--main span {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;
  color: #626262;
}

.content__filter--data--item {
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.content__filter--data--item div {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.content__filter--data--item div {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #272e38;
}

.content__filter--button {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $grayscale-border;
  padding-top: 16px;
  gap: 12px;

  button {
    width: 100%;
  }
}

.rw__link {
  color: #f49c56;
  padding: 6px 4px;
  border-bottom: 1px solid #f49c56;
}

.button {
  &__remove {
    background: transparent;
    width: fit-content;
    height: fit-content;
    padding: 0px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.modal {
  &__body {
    display: flex;
    flex-direction: column;

    &--center {
      @extend .modal__body;
      justify-content: center;
      align-items: center;
    }

    &--form {
      @extend .modal__body;
      gap: 12px;
      margin-top: 20px;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    color: #222222;
    line-height: 28px;
  }
  &__body {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #626262;
  }

  &__action {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
    margin-top: 20px;

    button {
      width: 100%;
    }
  }
}

.more {
  &__menu {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 8px;
    background: #fff;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
    width: 210px;
    z-index: 2;
    padding: 8px;
    border-radius: 12px;
  }

  &__item {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 6px;
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;

    &:hover {
      background-color: #f5f5f5;
    }

    span {
      font-size: 14px;
      line-height: 22px;
      color: #272e38;
    }
  }
}

.content__loading {
  background: rgb(229 231 235);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  border-radius: 8px;

  &-header {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
    margin-top: 14px;

    &--button {
      @extend .content__loading;
      height: 44px;
      width: 100%;
    }
  }

  &--title {
    @extend .content__loading;
    height: 40px;
    width: 320px;
    max-width: 100%;
    margin-top: 8px;
    margin-inline: auto;
  }

  &--subtitle {
    @extend .content__loading;
    height: 20px;
    width: 480px;
    margin-top: 14px;
    max-width: 100%;
    margin-inline: auto;
  }

  &--items {
    @extend .content__loading;
    height: 20px;
    width: 80px;
    max-width: 100%;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
