@import "../../../general.scss";

// header--style
.header {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__button {
    display: flex;
    gap: 8px;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
}
.main-content {
  width: 800px;
}

.right-content {
  display: block;
  justify-content: flex-end;
  width: 360px;
}

.resident--table__section {
  margin: 0px 20px;
  margin-bottom: 20px;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid $grayscale;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
// table--style
.content__resident {
  margin-top: 24px;
}

.resident__table {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  font-family: "Inter";
  border-collapse: collapse;
  color: #272e38;
}

.resident__table--container {
  overflow: auto;
}

.resident__table th,
.resident__table td {
  text-align: left;
  padding-left: 8px;
}

.resident__table th {
  color: $grey-placeholder;
}

.resident__table td {
  padding: 12px;
}

.resident__table tbody td {
  border-bottom: 1px solid $grayscale-border;
  white-space: nowrap;
}

.resident__table tbody tr:hover {
  background-color: $primary-background;
  transition: all 0.2s ease-in-out;
}

.resident__table tbody,
.resident__table thead th {
  padding: 16px 8px;
  white-space: nowrap;
}
.resident__table thead th {
  padding: 0 11px;
}

.resident__table tbody::before {
  content: "";
  display: block;
  height: 8px;
}

.resident__table--user__profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.resident__table--user__name {
  white-space: nowrap;
}

// pagination--style
.pagination__content {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
