@import "../layout.module.scss";

.villages_detail_wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-top: 10px;
  gap: 8px;

  .muted_text {
    color: $grey-placeholder;
  }
}
