@import "../../../general.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
  }
}

.container--border {
  border-bottom: 1px solid $grayscale-border;
  padding: 12px 24px;
}

.container__input {
  width: 320px;
}

.user__content {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.username {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Inter";
}
