@import "../../../general.scss";

.container {
  display: flex;
  gap: 4px;
}

// checkbox-disable
.disable {
  background-color: $disable;
  border: none !important;
}

.disable:hover {
  cursor: not-allowed;
}

.disable:checked {
  background-color: $primary-light !important;
}

// checkbox-error
.error {
  border: 1px solid $error !important;
  background-color: transparent !important;
}
.error:focus {
  border: none !important;
  outline: 1px solid $error !important;
}

// checkbox-style
.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid $grayscale-border;
  border-radius: 4px;
  outline: 1px solid transparent;
  cursor: pointer;
  position: relative;
}

.input:hover {
  border: 1px solid $hover;
  transition: border 0.2s ease-in-out;
}

.input:checked {
  background-color: $primary;
}

.input:checked:hover {
  background-color: $hover;
}

.input:checked::after {
  content: "\2713";
  display: block;
  text-align: center;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.input-sm:checked::after {
  font-size: 9px;
}

.input-md:checked::after {
  font-size: 10px;
}

.input-lg:checked::after {
  font-size: 12px;
}

.input:focus {
  border: 1px solid $hover;
  outline: 1px solid $primary-light;
}

.input-md:focus {
  outline: 2px solid $primary-light;
}

.input-lg:focus {
  outline: 2px solid $primary-light;
}

.input-sm {
  height: 14px;
  width: 14px;
}

.input-md {
  height: 16px;
  width: 16px;
}

.input-lg {
  height: 20px;
  width: 20px;
  border-radius: 6px;
}

// text-style
.container_text {
  display: flex;
  flex-direction: column;
  font-family: $inter;
  gap: 2px;
  font-weight: 400px;
}

.label-sm {
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
}

.label-md {
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
}

.label-lg {
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
}

.helper_text-sm {
  font-size: 11px;
  line-height: 16px;
  color: $grey-label;
}

.helper_text-md {
  font-size: 12px;
  line-height: 18px;
  color: $grey-label;
}

.helper_text-lg {
  font-size: 14px;
  line-height: 22px;
  color: $grey-label;
}

// text-disable
.label-disable {
  color: $grey-placehold;
}

// helper_text-disable
.helper_text-disable {
  color: $disable;
}
