.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: white;

  .content {
    overflow: auto;
    width: 100%;
  }

}

.container__main {
  padding: 0 24px;
}