@import "../../../general.scss";

.container {
  font-family: "Inter";

  // only when style is XL
  &__content-xl {
    display: flex;
    flex-direction: column;
    gap: 16px;

    // when isBack is true
    &--back {
      display: flex;
      gap: 12px;
      align-items: center;

      &__prev-button {
        padding: 6px;
        border-radius: 8px;
        border: 1px solid $grayscale-border;
        background-color: transparent;
        width: fit-content;
        height: fit-content;
        cursor: pointer;
      }
    }

    &--prefix-button {
      width: fit-content;
      height: fit-content;
      background-color: transparent;
      cursor: pointer;
    }
  }

  // base style
  &__content {
    &--lg {
      gap: 12px;
    }
    &--text {
      display: flex;
      flex-direction: column;
      gap: 4px;

      &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: $base-black;
      }

      &__title-xl {
        font-size: 32px;
        line-height: 40px;
      }

      &__title-lg {
        font-size: 20px;
        line-height: 28px;
      }

      &__title-md {
        font-size: 16px;
        line-height: 26px;
      }

      &__title-sm {
        font-size: 14px;
        line-height: 22px;
      }

      &__sub-title {
        font-weight: 400px;
        font-size: 14px;
        line-height: 22px;
        color: $grey-label;
        margin-top: 4px;
      }

      &__sub-title-xl {
        font-size: 16px;
        line-height: 26px;
      }

      &__sub-title-lg {
        font-size: 14px;
        line-height: 22px;
      }

      &__sub-title-md {
        font-size: 12px;
        line-height: 18px;
      }

      &__sub-title-sm {
        font-size: 11px;
        line-height: 16px;
      }
    }
  }
}
