@import '../general.scss';

.background {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.logo {
  color: $primary-dark;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  position: absolute;
  left: 40px;
  top: 24px;
  z-index: 10;
}

.container {
  font-family: 'inter';
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding-top: 140px;
  margin: auto;
  height: 100vh;
  gap: 24px;
}
