@import '../general.scss';

.container {
  font-family: 'inter';
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding-top: 140px;
  margin: auto;
  height: 100vh;
  gap: 24px;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;

    &--title {
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;
      color: $base-black;
    }
  }

  &__button {
    gap: 16px;
    display: block;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 4rem;
  }
}
