@import "../../../general.scss";

.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__action {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
  }
  &__more {
    &-container {
      position: absolute;
      top: 100%;
      right: 0;
      margin-top: 8px;
      padding: 16px;
      border-radius: 12px;
      box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
      background-color: #fff;
      z-index: 1;
      display: flex;
      flex-direction: column;
    }
    &-item {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      white-space: nowrap;
      background-color: transparent;
      border: none;
      outline: none;

      &:hover {
        background-color: #e8e8e8;
      }
    }
  }
}

.modal {
  &__title {
    font-size: 18px;
    color: $base-black;
    line-height: 28px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
  }
  &__body {
    font-size: 14px;
    line-height: 22px;
    color: $grey-label;
    font-family: "Inter", sans-serif;
  }
  &__below {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-top: 20px;

    button {
      width: 100%;
    }
  }
}

.form {
  &__label {
    color: $grey-placehold;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 2px;
  }
  &__paragraph {
    color: $base-black;
    font-weight: 14px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
  }

  &__wrapper {
    margin-top: 24px;
    display: flex;
    gap: 16px;
    flex-direction: column;
  }
  &__action {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 24px;
  }
  &__photo {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__left {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &__img img {
      width: 64px;
      height: 64px;
    }
    &__img-description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
    }
    &__img-description p:first-child {
      color: $base-black;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      margin: 0;
    }
    &__img-description p:last-child {
      color: $grey-label;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      margin: 0;
    }
  }
  &__profile {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-4-col {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
    }

    &-3-col {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
    }

    &-2-col {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }
  }
  &__role {
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &-4-col {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
    }
    &-2-col {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }
  }
}
