@import '../../../general.scss';

.logo {
  color: $primary-dark;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  position: absolute;
  left: 40px;
  top: 24px;
}

.container {
  font-family: 'inter';
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding-top: 140px;
  margin: auto;
  height: 100vh;
  gap: 24px;

  &__image {
    width: 240px;
    height: auto;
    display: block;
    margin-inline: auto;
  }

  &__text {
    text-align: center;

    &-heading {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 4px;
      color: $base-black;
    }

    &-body {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: $grey-label;
    }

    &-email {
      font-weight: 600;
      color: $base-black;
    }
  }

  &__button {
    margin-top: 8px;
    display: flex;
    justify-content: center;

    button {
      width: fit-content;
    }
  }
}
