@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

//colors
$base-black: #272e38;
$base-white: #f7f8fb;
$bg-input: #f2f4f8;
// $grayscale-border: #e8e8e8;
$dark-tertiary: #080808;
$disable: #f4f4f4;
$error: #f42e2e;
$error-background: #ffe8e8;
$error-dark: #c21616;
$error-light: #ffd0d0;
$grey-label: #626262;
$grey-placeholder: #8f97a6;
$grey-placehold: #959595;
$grayscale: #e8e8e8;
// $grayscale-border: #e8e8e8;
$grayscale-border-base-black: #222222;
$grayscale-border: #e8e8e8;
$grayscale-border-hover: #f1f2f5;
// $grey-label: #626262;
$hover: #738ae1;
$info: #3bc4e0;
$info-background: #E4FAFF;
// $inter: "Inter", sans-serif;
$primary: #4163e7;
$primary-background: #ebefff;
$primary-dark: #243576;
$primary-light: #b1c0f9;
$radio-focus: #b1c0fc;
$secondary: #f49c56;
$secondary-background: #fff5ed;
$secondary-dark: #814d25;
$secondary-hover: #f4b17c;
$secondary-light: #ffddc1;
$success: #2cae70;
$success-background: #edfbf6;
$warning: #ffb932;
$warning-background: #fffaf2;

//font family
$inter: "Inter", sans-serif;

//radio color
$radio-focus: #b1c0fc;

// input
// $bg-input: #f2f4f8;
// $grayscale-border: #e8e8e8;

// $disbale: gold;
