@import "../../../general.scss";

.container {
  width: 280px;
  height: 100vh;
  background-color: $base-white;
  // position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.container__collapse {
  width: 88px;
  height: 100vh;
  background-color: $base-white;
  // position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

// header
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-bottom: 1px solid $grayscale-border;
  margin-bottom: 24px;
  height: 77px;
}
.header__logo {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.header__logo--collapse {
  display: none;
}
.header__icon {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.header__icon--collapse {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: transparent;
  height: 62px;
  align-items: center;
  border: none;
}

// item
.item__content {
  display: flex;
  justify-content: space-between;
  padding: 14px 16px;
  margin: 8px 16px;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}
.item__content--active {
  background-color: $primary;
  color: white;
}
.item__content:hover {
  background-color: $grayscale-border-hover;
  cursor: pointer;
}
.item__content--active:hover .item__name {
  color: white;
}
.item__content--active:hover {
  background-color: $primary;
}
.item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.item__name {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: $grey-placeholder;
}
.item__name--collapse {
  display: none;
}
.item__name--active {
  color: white;
}
.item__icon--collapse {
  width: 100%;
  display: flex;
  justify-content: center;
}

// sub-item
.sub__item {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: $grey-placeholder;
  padding-left: 50px;
  margin-right: 16px;
  transition: all 0.3s ease-in-out;
}
.sub__item--content {
  display: flex;
  flex-direction: column;
}
.sub__item--name {
  border-radius: 12px;
  margin: 2px 0;
  padding: 14px 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.sub__item--name:hover {
  background-color: $grayscale-border-hover;
}
.sub__item--name--collapse {
  display: none;
}
.sub__item--icon--collapse {
  display: none;
}
.sub__item--name--active {
  color: $primary;
  font-weight: 500;
  color: $primary;
}
