@import "../../general.scss";
.wrapper {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;

  .methods {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .account_info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 10px;

    .title {
      display: flex;
      align-items: center;
      gap: 11px;
    }

    .account_number {
      display: flex;
      align-items: center;
      gap: 14px;
    }
  }

  .instructions {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
}
