@import "../../general.scss";

.upload__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .uploaded__file {
    width: 700px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    border: 1px solid $grayscale;
    border-radius: 8px;

    .file {
      display: flex;
      justify-content: space-between;

      .info {
        display: flex;
        gap: 8px;

        .file__icon {
          width: 40px;
          height: 40px;
          padding: 8px;
          border-radius: 400px;
          background-color: $grayscale;
        }

        .text {
          display: flex;
          flex-direction: column;
        }
      }

      .delete__icon {
        cursor: pointer;
      }
    }

    .progress {
      display: flex;
      padding-top: 8px;
      gap: 8px;
      align-items: center;

      .bar {
        border-radius: 400px;
        height: 6px;
        background-color: $grayscale;
        flex: 1 1 0%;
      }

      .status {
        width: fit-content;
      }
    }
  }
}

.success__dialog {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;

  .success__icon {
    width: 172px;
    height: 172px;
  }

  .success__text {
    text-align: center;
  }
}
