@import "../../../general.scss";

.container {
  // item-per-page
  &__item-page {
    display: flex;
    gap: 8px;
    font-family: "inter";
    align-items: center;
    &--text {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: $base-black;
    }
    &--content {
      display: flex;
      gap: 8px;
      background-color: $bg-input;
      border-radius: 8px;
      padding: 8px 12px;
      align-items: center;
      cursor: pointer;
      position: relative;
      height: max-content;
      &__number {
        width: 36px;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $base-black;
      }
      &__icon {
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
      }
      &__list {
        position: absolute;
        top: 100%;
        margin-top: 8px;
        left: 0;
        right: 0;
        border-radius: 12px;
        padding: 8px;
        box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
        background-color: white;
        cursor: default !important;
        &--item {
          &__selected {
            border: 1px solid $primary;
          }
          &__text {
            display: flex;
            border-radius: 6px;
            padding: 6px;
            margin-bottom: 8px;
            cursor: pointer;
            justify-content: space-between;
            align-items: center;
            &:hover {
              background-color: $bg-input;
            }
          }
        }
      }
    }
  }
  // page-number
  &__page-number {
    display: flex;
    gap: 12px;
    font-family: "inter";
    align-items: center;
    &--icon {
      width: 40px;
      height: 40px;
      align-items: center;
      justify-content: center;
      display: flex;
      padding: 8px;
      border-radius: 8px;
      border: 1px solid transparent;
      transition: all 0.2s ease-in-out;
      &:hover {
        border: 1px solid $secondary;
      }
      &__active {
        cursor: pointer;
      }
      &__inactive {
        cursor: not-allowed;
      }
    }
    &--base {
      display: flex;
      gap: 8px;
      align-items: center;
      &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $base-black;
      }
      &__item {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $base-black;
        background-color: $bg-input;
        height: 38px;
        width: 56px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
