@import "../../../general.scss";

.toast {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 10px;
  background-color: white;

  .toast__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 6px;
  }
}
.toast[data-variant="success"] {
  background-color: $success-background;
  border: 1px solid $success;

  .toast__icon {
    background-color: $success;
  }
}
.toast[data-variant="error"] {
  background-color: $error-background;
  border: 1px solid $error;
  .toast__icon {
    background-color: $error;
  }
}
.toast[data-variant="info"] {
  background-color: $info-background;
  border: 1px solid $info;
  .toast__icon {
    background-color: $info;
  }
}
.toast[data-variant="warning"] {
  background-color: $warning-background;
  border: 1px solid $warning;
  .toast__icon {
    background-color: $warning;
  }
}

.toast__close {
  display: grid;
  place-items: center;
  margin: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  cursor: pointer;
}

.toast__content {
  font-family: $inter;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
