@import "../../../general.scss";
@import "../dashboard-resident.module.scss";

.delete--content__dialog {
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
  gap: 8px;
  justify-content: center;
  align-items: center;

  .delete--icon {
    width: 64px;
    height: 64px;
    border: 1px solid $grayscale;
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 400px;
  }
}

.delete--footer__dialog {
  display: flex;
  gap: 8px;
}
