@import "./header.module.scss";

.upload__content {
  display: flex;
  width: 700px;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 15px 5px;
  align-items: center;

  .upload__icon {
    padding: 8px;
    border-radius: 9999px;
    background-color: $grayscale;
    height: 40px;
    width: 40px;
  }
}

.upload__footer {
  display: flex;
  gap: 8px;
  padding-top: 8px;
}

.file--type__dialog {
  padding: 10px 0px;
}

.file--type__footer {
  display: flex;
  gap: 8px;
  padding-top: 8px;
}
