@import "../../../general.scss";
.accordion {
  .accord_item {
    padding: 8px 12px;
    border-bottom: 1px solid $grayscale;

    .trigger {
      display: flex;
      cursor: pointer;
      justify-content: space-between;
      align-items: center;
    }

    .content {
      padding: 20px 8px;
    }
  }
}
