@import "../../../../general.scss";

.wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  font-family: $inter;
}
.container {
  z-index: 20;
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  border: 1px solid $grayscale;
  position: relative;
  min-width: 500px;
}

.close__icon {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
}

.header {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.footer {
  padding-top: 10px;
}
