@import "../subscription.module.scss";
@import "../../../../../general.scss";
.card__wrapper {
  border: 1px solid $grayscale;
  border-radius: 16px;
  overflow: hidden;
}

.recommended__badge {
  background-color: $primary;
  padding: 8px 15px;
}

.content__wrapper {
  flex-direction: column;
  gap: 24px;
  display: flex;
  padding: 24px;
}

.price__unit {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: $grey-placeholder;
}

.benefit {
  border-top: 1px solid $grayscale;
  border-bottom: 1px solid $grayscale;
  padding: 20px 0px;

  &__item {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
