@import "../../../general.scss";

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.layer {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  background: #fff;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  max-height: calc(100% - 1rem);
  overflow-y: auto;

  // custom scrollbar
  &::-webkit-scrollbar {
    padding: 10px 0 10px;
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #F2F4F8;
  }

  &::-webkit-scrollbar-thumb {
    background: #cecece;
    border-radius: 2px;
    border: 2px solid #F2F4F8;
    background-clip: padding-box;
  }

  &__top {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      width: fit-content;
      height: fit-content;
      background: transparent;
      padding: 0px;
      margin: 0px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      border: none;
    }
  }

  &__body {
    margin-top: 4px;
  }
}
