@import "../../../general.scss";

.container {
  font-family: $inter;

  &__content {
    padding: 8px 12px;
    border-radius: 8px;
    background-color: $bg-input;
    border: 1px solid transparent;
    color: $base-black;
    width: 100%;
    font-family: $inter;

    &:hover {
      border: 1px solid $hover;
      transition: border 0.2s ease-in-out;
    }
    &:focus {
      border: 1px solid $primary;
      outline: 2px solid $primary-background;
      transition: border 0.2s ease-in-out;
      color: $grey-placeholder;
    }
    &:placeholder {
      color: $grey-placeholder;
    }

    // label-disable
    &--label-disable {
      color: $grey-placeholder;
    }

    // error-style
    &--error {
      border: 1px solid $error;
      transition: border 0.2s ease-in-out;

      &:hover {
        border: 1px solid $error;
      }
    }

    // disable-style
    &--disable {
      background-color: $disable;
      border: 1px solid $grayscale-border;
      cursor: not-allowed;
      color: $grey-label !important;

      &:hover {
        border: 1px solid $grayscale-border;
      }
    }

    // prefix-icon
    &--prefix-sm {
      padding-left: 40px;
    }

    &--prefix-md {
      padding-left: 44px;
    }
  }

  &__helper-text {
    color: $grey-label;
    font-weight: 400;

    &--sm {
      font-size: 12px;
      line-height: 18px;
    }

    &--md {
      font-size: 14px;
      line-height: 22px;
    }
  }

  // text-area__style
  &__text-area {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    margin-bottom: 4px;

    &--label-sm {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
    }

    &--label-md {
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
    }

    &--content-sm {
      font-size: 14px;
      line-height: 22px;
    }

    &--content-md {
      font-size: 16px;
      line-height: 26px;
    }

    &--text-length {
      position: absolute;
      bottom: 8px;
      right: 12px;
      font-weight: 400;
      color: $grey-label;
      font-style: italic;
    }

    &--text-length-sm {
      font-size: 11px;
      line-height: 16px;
    }

    &--text-length-md {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
    }
  }

  // text-field__style
  &__text-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 4px;

    &--content-sm {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
    }

    &--content-md {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
    }

    &--label-sm {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
    }

    &--label-md {
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
    }

    &--icon-content {
      position: relative;

      &__prefix {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        background-color: $bg-input;
        border: none;
        margin: 0;
        padding: 0;
      }

      &__suffix {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        background-color: $bg-input;
        border: none;
        margin: 0;
        padding: 0;

        &-sm {
          font-size: 14px;
          line-height: 22px;
          font-weight: 400;
          color: $grey-label;
        }

        &-md {
          font-size: 16px;
          line-height: 26px;
          font-weight: 400;
          color: $grey-label;
        }
      }
    }

    &--helper-text-col {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: $grey-label;
      }
    }
  }

  // password__style
  &__password {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 4px;

    &--label-sm {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
    }

    &--label-md {
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
    }

    &--base {
      position: relative;
    }

    &--content-sm {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
    }

    &--content-md {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
    }

    &--icon {
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      background-color: $bg-input;
      border: none;
      cursor: pointer;
    }

    // custom dot
    &--input {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      letter-spacing: 4px;
      font-size: 16px;

      &::placeholder {
        letter-spacing: 0;
        font-family: "Inter";
      }
    }
  }

  // dropdown__style
  &__dropdown {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 4px;

    &--label-sm {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
    }

    &--label-md {
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
    }

    &--icon-content {
      position: relative;
      display: flex;

      &__prefix {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        background-color: $bg-input;
        border: none;
        margin: 0;
        padding: 0;
      }
    }

    &--icon {
      position: absolute;
      right: 12px;
      top: -5px;
      transform: translateY(50%);
      cursor: pointer;
      background-color: $bg-input;
      border: none;
    }

    &--items {
      display: flex;
      flex-direction: column;
      gap: 8px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      padding: 8px 6px;

      &-sm {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
      }

      &-md {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
      }

      &-hide {
        display: none !important;
      }
    }

    &--item {
      border-radius: 8px;

      &-sm {
        padding: 6px;
      }

      &-md {
        padding: 8px;
      }

      &:hover {
        background-color: $bg-input;
        cursor: pointer;
        padding: 6px;
      }

      &-sm:hover {
        padding: 6px;
      }

      &-md:hover {
        padding: 8px;
      }
    }
  }

  // dropdown__menu
  &__dropdown-menu {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: $bg-input;
    cursor: pointer;
    border: 1px solid transparent;
  }

  // datetime__style
  &__datetime {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 4px;
    width: 100% !important;

    &--label {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
    }

    &--base {
      position: relative;
    }

    &--input-date {
      // TODO: fix height
      height: 40px;
    }

    &--button {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $bg-input;
      border: none;
    }

    &--datepicker {
      position: relative;

      &__base {
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        background-color: white;
        z-index: 9;
      }
    }
  }

  // dropdown-select__style
  &__dropdown-select {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 4px;
    position: relative;

    &--placeholder {
      color: $grey-placeholder;
    }

    &--input-sm {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      // color: salmon;
    }

    &--input-md {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
    }

    &--label-sm {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
    }

    &--label-md {
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
    }

    &--content-sm {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
    }

    &--base {
      position: relative;
      cursor: pointer;
    }

    &--prefix {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      background-color: $bg-input;
      border: none;
    }
  }

  // time__style
  &__time {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &--label-sm {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
    }

    &--label-md {
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
    }

    &--input-date {
      height: 40px;
    }
  }
}
