@import "../../../general.scss";

.display {
  font-family: $inter;
  &__3xl {
    font-size: 48px;
    line-height: 58px;
  }

  &__2xl {
    font-size: 40px;
    line-height: 48px;
  }

  &__xl {
    font-size: 36px;
    line-height: 44px;
  }

  &__lg {
    font-size: 32px;
    line-height: 40px;
  }

  &__md {
    font-size: 28px;
    line-height: 36px;
  }

  &__sm {
    font-size: 24px;
    line-height: 32px;
  }

  &__xs {
    font-size: 20px;
    line-height: 28px;
  }
}

.text {
  &__lg {
    font-size: 18px;
    line-height: 28px;
  }

  &__md {
    font-size: 16px;
    line-height: 26px;
  }

  &__sm {
    font-size: 14px;
    line-height: 22px;
  }

  &__xs {
    font-size: 12px;
    line-height: 20px;
  }
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.muted {
  opacity: 50%;
}
