@import "../../../general.scss";

.container {
  display: flex;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $grey-label;
}

.item {
  display: flex;
  align-items: center;
  gap: 2px;
}

.active {
  font-weight: 500;
  color: $primary;
}

.item:hover {
  color: $hover;
}
