@import "../../general.scss";

// header--style
.header {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__button {
    display: flex;
    gap: 8px;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
}
.main-content {
  width: 800px;
}

.right-content {
  display: block;
  justify-content: flex-end;
  width: 360px;
}
