@import "../../general.scss";

.container {
  padding: 0 24px;
}

.main__content {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.content__empty {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
