@import "../../../../general.scss";

.container {
  font-family: $inter;
  padding: 0 24px;
}

.main__content {
  margin: 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

// prints--button--style
.container__more--item__link-prints {
  width: 100%;
}
