@import '../general.scss';

.logo {
  color: $primary-dark;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  position: absolute;
  left: 40px;
  top: 24px;
  z-index: 10;
}

.container {
  font-family: 'inter';
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding-top: 140px;
  margin: auto;
  height: 100vh;
  gap: 24px;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &--title {
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;
      color: $base-black;
    }

    &--sub-title {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: $grey-label;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    margin-top: 16px;
    gap: 16px;

    &--password {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &__button {
        display: flex;
        justify-content: flex-end;

        &--item {
          width: fit-content;
        }
      }
    }
  }

  &__button {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 4rem;

    button {
      width: 100%;
    }

    &--top {
      display: grid;
      grid-template-columns: 141px 1fr;
      gap: 12px;
    }

    &--link {
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: center;
    }
  }
}

.error {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__text {
    color: $base-black;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
}
