@import '../../../general.scss';

.alert {
  border-width: 1px;
  border-style: solid;
  padding: 8px;
  display: grid;
  max-width: 100%;
  grid-template-columns: 28px 1fr;
  border-radius: 12px;
  gap: 12px;

  &--SUCCESS {
    @extend .alert;
    border-color: $success;
    background-color: $success-background;
  }
  &--WARNING {
    @extend .alert;
    border-color: $warning;
    background-color: $warning-background;
  }

  &--DESCTRUCTIVE {
    @extend .alert;
    border-color: $error;
    background-color: $error-background;
  }

  &--INFO {
    @extend .alert;
    border-color: $info;
    background-color: $info-background;
  }

  &__icon-wrapper {
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;

    &--SUCCESS {
      @extend .alert__icon-wrapper;
      background-color: $success;
    }
    &--WARNING {
      @extend .alert__icon-wrapper;
      background-color: $warning;
    }

    &--DESCTRUCTIVE {
      @extend .alert__icon-wrapper;
      background-color: $error;
    }

    &--INFO {
      @extend .alert__icon-wrapper;
      background-color: $info;
    }
  }

  &__title {
    color: $base-black;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
  }

  &__message {
    color: $base-black;
    font-size: 14px;
    line-height: 22px;
  }
}
