@import "../general.scss";
.payment__wrapper {
  min-height: 100vh;
  background-color: #fafafa;
  display: flex;
  position: relative;
  gap: 100px;
  justify-content: space-around;

  .payment__info__container {
    background-color: #fafafa;
    width: 50%;
    padding: 20px;
    margin: 40px;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
  }

  .payment__method__container {
    background-color: white;
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
}
