@import "../../../general.scss";

.container {
  background-color: $primary-background;
  font-weight: 500;
  color: $primary-dark;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: $inter;
  overflow: hidden;
}

// circle-sizes
.xs {
  width: 24px;
  height: 24px;
}

.sm {
  width: 32px;
  height: 32px;
}

.md {
  width: 40px;
  height: 40px;
}

.lg {
  width: 48px;
  height: 48px;
}

.xl {
  width: 56px;
  height: 56px;
}

.xxl {
  width: 64px;
  height: 64px;
}

.xxxl {
  width: 104px;
  height: 104px;
}

// text-size
.text-xs {
  width: 17px;
  height: 18px;
  font-size: 12px;
  line-height: 18px;
}

.text-sm {
  width: 20px;
  height: 22px;
  font-size: 14px;
  line-height: 22px;
}

.text-md {
  width: 23px;
  height: 26px;
  font-size: 16px;
  line-height: 26px;
}

.text-lg {
  width: 29px;
  height: 28px;
  font-size: 20px;
  line-height: 28px;
}

.text-xl {
  width: 34px;
  height: 32px;
  font-size: 24px;
  line-height: 32px;
}

.text-xxl {
  width: 40px;
  height: 36px;
  font-size: 28px;
  line-height: 36px;
}

.text-xxxl {
  width: 57px;
  height: 48px;
  font-size: 40px;
  line-height: 48px;
}

// photo--style
.photo {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

// icon--style
.icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
