@import "../household.module.scss";

.content__empty {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.download__dialog__footer {
  display: flex;
  gap: 8px;
}
