@import "../household.module.scss";

.header__dropdown__trigger {
  background-color: transparent;
  border: 1px solid $primary;
  padding: 8px 15px;
}

.header__dropdown__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 300px;
}

.header__dropdown__item {
  display: flex;
  padding: 8px;
  border-radius: 10px;
  gap: 8px;
  cursor: pointer;

  &:hover {
    background-color: $grayscale;
  }
}
.content__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.content__header--button {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
}

.delete__dialog__content {
  text-align: center;
  padding: 20px 0px;
}
.delete__dialog__footer,
.download__dialog__footer {
  display: flex;
  width: 100%;
  gap: 8px;
}

.download__dialog__content {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dialog__upload__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
}

.dialog__file_type__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dialog__upload__icon {
  border-radius: 999px;
  border: 1px solid $grayscale-border;
  padding: 10px;
  width: 48px;
  height: 48px;
}

.form__add__household {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;

  .form__footer {
    display: flex;
    gap: 10px;
  }

  .form__checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.confirm__dialog__content {
  width: 400px;
}
.confirm__dialog__text {
  padding: 15px 0px;
}
.confirm__footer {
  display: flex;
  gap: 10px;
}
