@import '../../../general.scss';

.filter {
  &__container {
    position: relative;
    height: fit-content;
  }

  &__button {
    font-size: 14px;
    color: $base-black;
    background-color: $bg-input;
    line-height: 22px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border-radius: 8px;
    outline: none;
    border: none;
    gap: 8px;
    cursor: pointer;
  }

  &__body {
    position: absolute;
    transform: translateY(100%);
    bottom: -8px;
    right: 0;
    height: fit-content;
    background-color: #fff;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
    padding: 16px;
    border-radius: 16px;

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 16px;
      border-bottom: 1px solid $grayscale-border;

      span {
        font-size: 16px;
        font-weight: 500;
        color: $base-black;
        line-height: 28px;
      }

      button {
        width: 24px;
        height: 24px;
        padding: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }
}