@import "../payment.module.scss";

.wrapper {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .methods {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .account_info {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .title {
      display: flex;
      align-items: center;
      gap: 11px;
    }

    .account_number {
      display: flex;
      align-items: center;
      gap: 14px;
    }
  }

  .instructions {
    display: flex;
    gap: 10px;
    flex-direction: column;
    .accordion {
      .accord_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 12px;
        border-bottom: 1px solid $grayscale;
      }
    }
  }
}
