@import "../payment.module.scss";

.card__wrapper {
  padding: 32px;
  border-radius: 16px;

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 12px;
    .text {
      color: $primary-dark;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .container {
    .item {
      display: flex;
      justify-content: space-between;
      padding: 20px 0px;
      border-bottom: 1px solid $grayscale;
    }
  }

  .total {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
  }
}
