@import "../household-detail.module.scss";
.content__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.content__header--button {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
}
