@import "../household-detail.module.scss";

.household__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  .two__column {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .four__column {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  &--item {
  }
}
