@import "../household-detail.module.scss";

.member__table__action {
  display: flex;
  gap: 8px;
  align-items: center;
}

.text__detail {
  color: #f49c56;
  text-decoration-line: underline;
  text-underline-offset: 4px;
}
