@import "../../general.scss";

.container {
  padding: 0 24px;
}

.main__content {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

// prints--button--style
.container__more--item__link-prints {
  width: 100%;
}

// prints--button--disable--style
.container__more--item__link-prints-disable {
  cursor: not-allowed !important;
  opacity: 0.5;
}

.content__empty {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
