@import "../general.scss";

// top__bar--style
.top__bar--container {
  padding: 12px 24px;
  border-bottom: 1px solid $grayscale-border;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
}

.container {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  //   lg-header-style
  &__header {
    padding-top: 24px;
    &--text {
      font-family: "Inter";
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: $grayscale-border-base-black;
    }
  }

  //   default-style
  &__content-base {
    border: 1px solid $grayscale-border;
    padding: 16px;
    border-radius: 16px;

    // header inside a box
    &--header {
      display: flex;
      justify-content: space-between;

      &__label {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &__text {
        font-family: "Inter";
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: $grayscale-border-base-black;
      }
    }
  }

  &__first-data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    grid-template-areas:
      "resident district household"
      "resident family letter";

    // default-style
    &--base-content {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      margin: auto;

      &__data {
        display: flex;
        gap: 8px;
        align-items: center;

        &--value {
          font-weight: 600;
          font-size: 28px;
          line-height: 36px;
          color: $dark-tertiary;
        }

        &--unit {
          font-weight: 500;
          font-size: 16px;
          line-height: 26px;
          color: $grey-placeholder;
        }
      }

      &__description {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: $grey-placeholder;
      }
    }

    &--resident {
      display: flex-start;
      flex-direction: column;
      gap: 24px;
      grid-area: resident;
      // max-width: 502px;

      &__content {
        display: flex-start;
        gap: 40px;
        // justify-content: space-between;

        &--chart {
          display: flex-start;
          flex-direction: column;
          gap: 8px;

          &__content {
            width: 240px;
            height: 240px;
          }

          &__detail {
            display: flex;
            justify-content: center;

            &--left {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
            }

            &--right {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
            }

            &--info {
              font-weight: 600;
              font-size: 16px;
              line-height: 26px;
              color: $grayscale-border-base-black;
              //   width: 80px;
              padding: 0 12px;
            }
          }
        }

        &--description {
          display: flex-start;
          flex-direction: column;
          gap: 32px;
          padding: 38px 0;

          &__base {
            display: flex;
            flex-direction: column;
            gap: 4px;

            &--label {
              display: flex;
              align-items: center;
              gap: 4px;

              &__text {
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                color: $grey-label;
              }
            }

            &--value {
              display: flex;
              align-items: center;
              gap: 8px;

              &__text {
                font-weight: 600;
                font-size: 28px;
                line-height: 36px;
                color: $dark-tertiary;
              }

              &__unit {
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                color: $grey-placeholder;
              }
            }
          }
        }
      }
    }

    &--district {
      grid-area: district;
      display: flex;
      flex-direction: column;
      gap: 24px;
      // max-width: 317px;
    }

    &--household {
      grid-area: household;
      display: flex;
      flex-direction: column;
      gap: 24px;
      // max-width: 317px;
    }

    &--family {
      grid-area: family;
      display: flex;
      flex-direction: column;
      gap: 24px;
      // max-width: 317px;
    }

    &--letter {
      grid-area: letter;
      display: flex;
      flex-direction: column;
      gap: 24px;
      // max-width: 317px;
    }
  }

  &__second-data {
    margin-bottom: 80px;

    &--detail {
      display: flex;
      gap: 24px;

      &__info {
        display: flex;
        gap: 4px;
        align-items: center;
      }
    }

    &--content {
      display: flex;
      flex-direction: column;
      gap: 24px;

      // chart-bar-content
      &__chart {
        width: 100%;

        &--image {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
