@import "../../../../../general.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__action {
    display: flex;
    gap: 8px;
  }
}

.delete__dialog {
  &__icon {
    width: 64px;
    height: 64px;
    border: 1px solid $grayscale;
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 400px;
  }
  &__content {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }

  &__footer {
    display: flex;
    width: 100%;
    gap: 8px;
  }
}
