@import "../resident-detail.module.scss";

.container {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.profile {
  display: flex;
  gap: 10px;
  align-items: center;
}

.detail__item {
  flex: 1 1 0%;
}

.info__card {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__section {
    display: flex;
  }
}
