@import "../forgot-password.module.scss";

.container {
  align-items: center;
}

.container__action {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.container__image {
  height: 240px;
  width: 240px;
}

.container__text--title {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  line-height: normal;
}

.container__text--sub-title {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: $grey-label;
}
