@import '../general.scss';

.background {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.logo {
  color: $primary-dark;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  position: absolute;
  left: 40px;
  top: 24px;
  z-index: 10;
}

.container {
  font-family: 'inter';
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding-top: 140px;
  margin: auto;
  height: 100vh;
  gap: 24px;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &--title {
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;
      color: $base-black;
    }

    &--sub-title {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: $grey-label;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    margin-top: 16px;
    gap: 16px;
  }

  &__button {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 4rem;

    &-back {
      a button {
        width: 42px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      span {
        width: 22px;
        height: 22px;
      }
    }
  }
}
