@import "../../../general.scss";

.dropdown__menu__trigger {
  font-family: $inter;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 12px;
  border-radius: 8px;
  width: fit-content;
  cursor: pointer;
}

.dropdown__menu__content {
  position: absolute;
  z-index: 1;
  right: 0;
  margin-top: 10px;
  font-family: $inter;
  background-color: white;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0px 0px 32px 0px #00000014;
  min-width: 50px;
}

.dropdown__menu__close {
  cursor: pointer;
}
