@import "../detail-family.module.scss";

// table--style
.content__member {
  margin-top: 24px;
}

.member__table {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  font-family: "Inter";
  border-collapse: collapse;
  color: #272e38;
}

.member__table--container {
  overflow: auto;
}

.member__table th,
.member__table td {
  text-align: left;
  padding-left: 8px;
}

.member__table th {
  color: $grey-placeholder;
}

.member__table td {
  padding: 12px;
}

.member__table tbody td {
  border-bottom: 1px solid $grayscale-border;
  white-space: nowrap;
}

.member__table tbody tr:hover {
  background-color: $primary-background;
  transition: all 0.2s ease-in-out;
}

.member__table tbody,
.member__table thead th {
  padding: 16px 8px;
  white-space: nowrap;
}
.member__table thead th {
  padding: 0 11px;
}

.member__table tbody::before {
  content: "";
  display: block;
  height: 8px;
}

.member__table--user__profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.member__table--user__name {
  white-space: nowrap;
}

// pagination--style
.pagination__content {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

// content__empty--style
.content__empty {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.action__dialog {
  &__content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  &__icon {
    width: 64px;
    height: 64px;
    border: 1px solid $grayscale-border;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__footer {
    display: flex;
    gap: 8px;
  }
}
