@import "../detail-family.module.scss";
@import "../../../../../general.scss";

.header__dropdown__trigger {
  background-color: transparent;
  border: 1px solid $primary;
  padding: 8px 15px;
}

.header__dropdown__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 200px;
}

.header__dropdown__item {
  display: flex;
  padding: 8px;
  border-radius: 10px;
  gap: 8px;
  cursor: pointer;

  &:hover {
    background-color: $grayscale;
  }
}

.content__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.content__header--button {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
}

.delete__dialog__content {
  text-align: center;
  padding: 12px 0px;
}

.delete__dialog__footer {
  width: 100%;
  display: flex;
  gap: 8px;

  .delete__dialog__close {
    width: 100%;
  }
}
