@import "../../../../general.scss";

// top__bar--style
.top__bar--container {
  padding: 12px 24px;
  border-bottom: 1px solid $grayscale-border;
}

// header--style
.header {
  padding: 24px;
}

.container {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__base {
    border: 1px solid $grayscale-border;
    padding: 24px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    // profile--style
    &--profile {
      &__info {
        display: flex;
        gap: 12px;
        align-items: center;

        &__text {
          display: flex;
          flex-direction: column;

          &--title {
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: #272e38;
          }

          &--sub-title {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #626262;
          }
        }
      }
    }

    // button--style
    &--type-population {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;

      &__input {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
      }
    }

    // personal-info--style
    &--personal-info {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;

      &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &--first {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 16px;
        }

        &--second {
          display: flex;
          gap: 16px;
          border: 1px solid $grayscale-border;
          border-radius: 16px;
          padding: 16px;
          flex-direction: column;

          &__base {
            display: grid;
            gap: 16px;
            grid-template-columns: repeat(4, 1fr);

            &--identity {
              background-color: salmon;
              display: flex;
            }
          }
        }

        &--third {
          display: grid;
          gap: 16px;
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }

    // birth-date--style
    &--birth-date {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;

      &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &--first {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 16px;
        }

        &--second {
          display: grid;
          gap: 16px;
          grid-template-columns: repeat(3, 1fr);
        }

        &--third {
          display: grid;
          gap: 16px;
          grid-template-columns: repeat(3, 1fr);
        }

        &--fourth {
          display: grid;
          gap: 16px;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }

    // education-work--style
    &--education-work {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;

      &__content {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(3, 1fr);
      }
    }

    // citizenship-data--style
    &--citizenship-data {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;

      &__content {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(4, 1fr);
      }
    }

    // parental-data--style
    &--parental-data {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;

      &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &--first {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 16px;
        }

        &--second {
          display: grid;
          gap: 16px;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }

    // address--style
    &--address {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;

      &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &--first {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 16px;
        }

        &--second {
          display: grid;
          gap: 16px;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }

    // marriage-status--style
    &--marriage-status {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;

      &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &--first {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 16px;
        }

        &--second {
          display: grid;
          gap: 16px;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }

    // health-data--style
    &--health-data {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;

      &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &--first {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 16px;
        }

        &--second {
          display: grid;
          gap: 16px;
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }

    // others--style
    &--others {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;

      &__content {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  // button--style
  &__button {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-bottom: 40px;
  }

  .save-dialog__container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .footer {
      display: flex;
      gap: 8px;
      .close {
        width: 100%;
      }
    }
  }
}
