@import '../../../general.scss';

.dropdown {
  padding: 8px;
  background-color: #fff;
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  position: absolute;
  width: 100%;
  z-index: 2;
  bottom: 0px;
  transform: translateY(100%);

  &--with-helper-text {
    @extend .dropdown;
    bottom: 20px;
  }

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-right: 4px;

    // variant
    &--small {
      @extend .dropdown__inner;
      height: 100%;
      max-height: 400px;
    }

    &--medium {
      @extend .dropdown__inner;
      height: fit-content;
      max-height: 980px;
    }

    // custom scroll
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 400px;
      background-color: $bg-input;
    }

    &::-webkit-scrollbar-thumb {
      border: 2.5px solid $bg-input;
      border-radius: 250px;
      background-color: $primary;
    }
  }

  &__item {
    padding: 6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: $base-black;
    margin-bottom: 6px;
    text-align: left;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $bg-input;
    }
  }

  &__search {
    &-wrapper {
      position: relative;
      width: 100%;
      height: 38px;
      margin-bottom: 6px;
    }

    &-input {
      border-radius: 8px;
      background-color: $bg-input;
      font-size: 14px;
      padding-left: 40px;
      color: $grey-placehold;
      height: 38px;
      border: none;
      outline: none;
      width: 100%;
    }

    &-icon {
      position: absolute;
      top: 50%;
      transform: translate(0%, -50%);
      left: 8px;
      z-index: 3;
      height: fit-content;
    }
  }
}
